@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'DM Serif Display', serif; */
/* font-family: 'Jost', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

h1,
.heading-text {
  font-family: "DM Serif Display", serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  font-family: "Jost", sans-serif;
  color: #292f36;
}
